.classic-a4 .classic-page-container {
  margin: 90px auto;
  page-break-after: always;
}

.classic-a4 .line .tibetan {
  font-family: TibetanChogyalUnicode-170221;
  font-size: 30pt;
  line-height: 1em;
}
.classic-a4 .line .tibetan.small-writings {
  font-size: 25pt;
}
.classic-a4 .line .space {
  display: inline-block;
  width: 20px;
}

.classic-a4 .line .phonetics,
.classic-a4 .line .translation {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 1em;
}
.classic-a4 .line .phonetics.small-writings,
.classic-a4 .line .translation.small-writings {
  font-size: 14px;
  font-style: italic;
}

.classic-a4.with-phonetics .line .translation {
  margin-left: 12px;
  font-size: 14px;
}
.classic-a4.with-phonetics .line .translation.small-writings {
  font-size: 12px;
}

@media print {
  .classic-a4 * {
    color: black;
    background: white;
  }
  .classic-a4 .classic-page-container {
    margin: 0 auto;
  }
}