.pecha-a3 .pecha-page-container {
  width: 1048.92pt;
  height: 210.36pt;
  margin: 0 auto;
  border: 1px solid #333;
}

.pecha-a3 .line {
  margin-top: 2px;
}

.pecha-a3 .line .tibetan td {
  font-size: 31px;
  line-height: 31px;
  text-shadow: 0 0 1px black;
}
.pecha-a3 .line .tibetan td.small-writings {
  font-size: 25px;
  line-height: 31px;
}
.pecha-a3 .line .tibetan td span.space {
  width: 20px;
}

.pecha-a3 .line .translation {
  height: 19.2px;
}
.pecha-a3 .line .translation td {
  font-size: 9.5px;
  line-height: 8px;
  letter-spacing: -0.1px;
  position: relative;
  top: 3px;
  z-index: -1;
}
.pecha-a3 .line .translation td.small-writings {
  /* Don't forget to keep in sync with mimicTranslationCellInTibetanCell */
  font-size: 8px;
  letter-spacing: -0.2px;
}
