.page-a4 .pecha-page-container {
  width: 21cm;
  margin: 90px auto;
  page-break-after: always;
}

.page-a4 .line {
  margin-top: 8px;
}

.page-a4 .line .tibetan td {
  font-size: 36px;
  line-height: 1em;
}
.page-a4 .line .tibetan td.small-writings {
  top: 1.7px;
  font-size: 29px;
}
.line .tibetan td[rowspan="2"] {
  top: 2px;
  padding: 2px 0 0 20px;
  font-weight: bold;
  font-size: 10px !important;
  line-height: 11px;
  letter-spacing: -0.3px;
}
.page-a4 .line .tibetan td span.space {
  width: 20px;
}

.page-a4 .line .translation { /* Don't forget to keep in sync with revealTranslationsThatAreTooTall */
  height: 32.73px;
}
.page-a4 .line .translation td {
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.4px;
}
.page-a4 .line .translation td.small-writings { /* Don't forget to keep in sync with mimicTranslationCellInTibetanCell */
  font-size: 10px;
  letter-spacing: -0.1px;
  font-weight: normal;
}
