@media print {  

  #print-button,
  #color-mode-button {
    display: none !important;
  }

  body,
  body.pushable .pusher {
    background: white;
  }

  .pecha-page-container {
    margin: 0 auto !important;
  }

  * {
    background: white;
    color: black !important;
    border-color: black !important;
  }

}