@media print {
  #print-button,
  #color-mode-button,
  #inspect-td-button {
    display: none !important;
  }

  body,
  body.pushable .pusher {
    background: white;
  }

  .pecha-page-container {
    margin: 0 auto !important;
  }

  .pecha-page-container .line .tibetan td {
    text-shadow: 0 0 1px white;
  }

  * {
    color: black !important;
    border-color: black !important;
  }
}
