.pecha-a4 .pecha-page-container {
  width: 842.04pt;
  height: 198.5pt;
  margin: 0 auto;
  border: 1px solid #333;
}

.pecha-a4 .line {
  margin-top: 2px;
}

.pecha-a4 .line .tibetan td {
  font-size: 31px;
  line-height: 31px;
}
.pecha-a4 .line .tibetan td.small-writings {
  font-size: 25px;
  line-height: 31px;
}
.pecha-a4 .line .tibetan td span.space {
  width: 20px;
}

.pecha-a4 .line .translation {
  height: 19.2px;
}
.pecha-a4 .line .translation td {
  font-size: 9.5px;
  line-height: 9.6px;
  letter-spacing: -0.1px;
  position: relative;
  top: -2px;
}
.pecha-a4 .line .translation td.small-writings {
  /* Don't forget to keep in sync with mimicTranslationCellInTibetanCell */
  font-size: 8px;
  letter-spacing: -0.2px;
}
