.pecha-a4 .pecha-beginning-page {
  width: 786pt;
  height: 167pt;
  margin: calc((198.50pt - 167pt) / 2) calc((842.04pt - 786pt) / 2);
  padding: 3pt;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-beginning-page-inner {
  float: left;
  width: calc(100% - (17.52pt * 2));
  height: 100%;
  padding: 18pt 0;
}
.pecha-a4 .pecha-beginning-page-inner-inner {
  height: 100%;
  padding: 3pt;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-beginning-page .pecha-left-margin,
.pecha-a4 .pecha-beginning-page .pecha-right-margin {
  border: none;
}
.pecha-a4 .pecha-beginning-left-box,
.pecha-a4 .pecha-beginning-right-box,
.pecha-a4 .pecha-beginning-left-gap,
.pecha-a4 .pecha-beginning-right-gap {
  float: left;
  height: 100%;
  padding: 3pt 0;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-beginning-left-box,
.pecha-a4 .pecha-beginning-right-box {
  width: 38pt;
}
.pecha-a4 .pecha-beginning-left-gap,
.pecha-a4 .pecha-beginning-right-gap {
  width: 10pt;
  margin: 0 3pt;
}
.pecha-a4 .pecha-beginning-left-gap {
  line-height: 1.1em;
  border-width: 1px 2px 2px 1px;
}
.pecha-a4 .pecha-beginning-right-gap {
  line-height: 1.2em;
  border-width: 2px 1px 1px 2px;
  transform: rotate(180deg);
}
.pecha-a4 .pecha-beginning-page .pecha-content {
  float: left;
  width: calc(100% - (10pt * 2) - (38pt * 2) - (3px * 4) - (2 * 3pt) + 3px);
  height: 100%;
  padding: 4pt 10pt;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: white;
}

.pecha-a4 .pecha-beginning-page .pecha-content .line .tibetan td {
  line-height: 25px;
}
.pecha-a4 .pecha-beginning-page .pecha-content .line .translation td {
  position: relative;
  top: 5px;
}
