.pecha-a4 .pecha-title-page {
  width: 760pt;
  height: 108pt;
  margin: calc((210.36pt - 108pt) / 2) auto;
  padding: 3pt;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-title-page-inner {
  height: 100%;
  padding: 18pt;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-title-page-inner-inner {
  height: 100%;
  padding: 3pt;
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-title-left-box,
.pecha-a4 .pecha-title-right-box,
.pecha-a4 .pecha-title-left-gap,
.pecha-a4 .pecha-title-right-gap {
  float: left;
  height: 100%;
  padding: 3pt 0;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-title-left-box,
.pecha-a4 .pecha-title-right-box {
  width: 52pt;
}
.pecha-a4 .pecha-title-left-gap,
.pecha-a4 .pecha-title-right-gap {
  width: 17.52pt;
  margin: 0 3pt;
}
.pecha-a4 .pecha-title-content {
  float: left;
  width: calc(
    100% - (17.52pt * 2) - (52pt * 2) - (3px * 4) - (4 * 3pt) + (3pt * 2) + 3px
  );
  padding: 6pt;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-color: white;
}
.pecha-a4 .pecha-title-content .line {
  min-height: 60px;
  margin: 0 auto;
  text-align: center;
}
.pecha-a4 .pecha-title-content .line .tibetan td {
  height: 30px;
  padding: 0 30px;
  font-size: 38px;
  white-space: normal;
}
.pecha-a4 .pecha-title-content .line .translation td {
  height: 21px;
  font-size: 15px;
  font-variant: small-caps;
  vertical-align: middle;
}
.pecha-a4 .pecha-title-content .line .translation td .title {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.2em;
}
.pecha-a4 .pecha-title-content .line .translation td .subtitle {
  line-height: 1.2em;
}

.pecha-a4 .pecha-title-left-gap {
  line-height: 1.1em;
  border-width: 1px 2px 2px 1px;
}
.pecha-a4 .pecha-title-right-gap {
  line-height: 1.2em;
  border-width: 2px 1px 1px 2px;
  transform: rotate(180deg);
}
