.split-a5 .split-page-container {
  position: relative;
  margin: 90px auto;
  page-break-after: always;
}

.split-a5 .tibetan-page .line.empty-line-after {
  margin-bottom: 2em;
}
.split-a5 .translation-page .line.empty-line-after {
  margin-bottom: 3em;
}

.split-a5 .line .centered {
  margin-left:  0 !important;
  margin-right: 0 !important;
  text-align: center;
}

.split-a5 .line .tibetan {
  font-family: TibetanChogyalUnicode-170221;
  font-size: 38pt;
  line-height: 1.2em;
}
.split-a5 .line .tibetan.small-writings,
.split-a5 .line .tibetan .small-writings {
  font-size: 25pt;
}
.split-a5 .line .space {
  display: inline-block;
  width: 20px;
}

.split-a5 .line .phonetics {
  margin: 0.30cm 0 0.20cm 0.55cm;
  font-size: 16pt;
  font-family: Calibri;
  line-height: 1.07em;
}
.split-a5 .line .translation {
  margin-left: 1.05cm;
  font-size: 14pt;
  font-family: "Times New Roman";
  line-height: 1em;
}
.split-a5 .line .translation.small-writings {
  margin: 1em 0;
}
.split-a5 .line .translation.small-writings,
.split-a5 .line .translation .small-writings {
  font-size: 13pt;
  font-family: "Times New Roman";
  font-style: italic;
  line-height: 1.2em;
}
.split-a5 .line .translation.header {
  margin-bottom: 0.9em;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  font-family: "Times New Roman";
}
.split-a5 .line .translation.header .secondary {
  font-size: 16pt;
  font-weight: normal;
}

.split-a5:not(.with-phonetics) .line .translation {
  margin-left: 0;
  font-size: 16pt;
  font-family: Calibri;
}
.split-a5:not(.with-phonetics) .line .translation.small-writings {
  font-size: 14pt;
}

.split-a5 .line .translation.practice-title {
  margin: 0.90cm 0;
  font-size: 19pt;
  font-style: normal;
  font-family: "Linux Libertine Display G";
  font-variant: small-caps;
  text-align: center;
}
.split-a5 .line .translation.practice-title .subtitle {
  display: block;
  font-size: 16pt;
  font-variant: none;
}

.split-a5 .line .translation.practice-title .space {
  width: 0;
}

.split-a5 .split-page-container .page-number {
  position: absolute;
  width: 100%;
  text-align: center;
}

.split-a5 .tibetan-page .page-number {
  bottom: 0.7cm;
  font-family: TibetanChogyalUnicode-170221;
  font-size: 32pt;
}

.split-a5 .translation-page .page-number {
  bottom: 0.8cm;
  font-family: Calibri;
  font-size: 16pt;
}

@media print {
  .split-a5 * {
    color: black;
    background: white;
  }
  .split-a5 .split-page-container {
    margin: 0 auto;
  }
}